body{
	background-color:#DEEFF5;
}

.maincontainer{
  overflow: hidden;
  line-height: 10px;
}

.maincontent{
  background-color: #ffffff;
  padding: 30px 0px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px; 
  margin-bottom: 5px;
  width: 50%;
 
}

.bold{
  font-weight: bold;
}

.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: white;
   padding-top: 3%;
   padding-bottom: 3%;
   text-align: center;
}

.dropdown-list{
  position: relative;
  font-family: Arial;
}

.content{
  padding-bottom: 15%; 
}

.table_container{
  padding: 2% 5% 10% 5%;
}

.padding_class{
  padding: 0% 5% 15% 5%;
}

.text_box{
  padding: 0% 0% 5% 0%;
}